		li {
			display: inline;
			padding: 5px;
			margin: 10px; 
						}

		body {
			background-color:#A3B18A;
			font-family: sans-serif; 
			font-size: 14pt;
			}		

		h1 {
			text-align: center;
			color: black;
			}

		nav {
			font-family: monospace;
			font-size: 20px;
			width: 100%; 
			height: 200xp; 
			background-color:#DAD7CD;
			font-weight: bold;
			color:  #FFFFFF;
			text-align: center;

		}

		h3 {
			color: black;
			margin-top: 45px;
			}

		#resume-sidebar {
			width: 300px;
			float: right;
			border: 5px solid black;
			/* Mozilla Firefox */
    background-image: -moz-linear-gradient(bottom,#344E41 0%,#DAD7CD 100%);
/* Webkit (Safari/Chrome 10) */
    background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0,#FFF),color-stop(1,#069));
/* Webkit (Chrome 11+) */
    background-image: -webkit-linear-gradient(bottom,#344E41 0%,#DAD7CD 100%);
		}

		#person-info {
			border: 3px solid white;
    		height: 150px;
    		width : 200px;
		}

		img {
			height: 350px;
			width: 200px;
		}

		a:link {
			color: #344E41;
			}

		a:visited {
			color: #344E41
			}

		a:hover {
			color: #344E41
			}

		a:active {
			color: #ffffff;
			}
		 table {
	    font-family: arial, sans-serif;
	    border-collapse: collapse;
	    width: 100%;
	   }

	   td, th {
	   	border: 3px solid black;
	    text-align: left;
	    padding: 8px;
	    background-color: #DAD7CD;

	   }

	   tr:nth-child(even) {
	    background-color: #dddddd;
	    padding: 3px;
		}

		.fa {
		  padding: 20px;
		  font-size: 30px;
		  width: 50px;
		  text-align: center;
		  text-decoration: none;
		}

		.fa:hover {
		  opacity: 0.7;
		}

		

		.fa-facebook {
		  background: #A3B18A;
		  color:#344E41 ;
		}

		.fa-twitter {
		  background:#A3B18A ;
		  color:#344E41 ;
		}








